<div class="main-wrapper min-vh-100">
    <div class="login-wrapper p-2  d-flex gap-2 ">
        <div class="left-side">
            <figure class="h-100 m-0">
                <img src="assets/img/left-banner.png" alt="" class="img-fluid h-100 rounded-5  object-fit-cover">
            </figure>
        </div>
        <div class="h-100 d-flex flex-grow-1 right-side">
            <div class="container-fluid py-3">
                <div class="row h-100 flex-column">
                    <div class="col-12">
                        <h3 class="text-center mb-2">JK Library</h3>
                    </div>
                    <div class="col-12 flex-grow-1">
                      <div class="d-flex flex-column form-box h-100 justify-content-center mx-auto p-2">
                           <h1>Welcome Back</h1>
                            <p>Enter MFA code to complete Sign in</p>
                            <form action="" class="mt-48">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="d-block w-100 mb-1" for="">Email</label>
                                            <input type="text" class="form-control common-input" placeholder="Enter your Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="d-block w-100 mb-1" for="">MFA Code</label>
                                            <input type="number" class="form-control common-input" placeholder="Enter your Password">
                                            <div class="text-end px-2 w-100">
                                                <span>
                                                    <a href="" class="fw-400">Login with a recovery code?</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <button class="theme-btn w-100">Verify</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                      
                      </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
