<header class="position-fixed w-100 z-2">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <h4>
        <a class="navbar-brand fs-3 text-white" href="#">JK Library.</a>
      </h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav gap-5 m-auto ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Latest News</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link " href="/featured-book" tabindex="-1">Featured Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/interview">Interview Links</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact-us">Contact</a>
          </li>
        </ul>
        <button class="btn singup-btn" type="submit">Signup</button>
      </div>
    </div>
  </nav>
</header>
