<header class="position-fixed w-100 z-2">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <h4>
            <a class="navbar-brand fs-3 text-white" href="#">JK Library.</a>
          </h4>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav gap-5 m-auto ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Latest News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/featured-book" tabindex="-1" >Featured Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/interview">Interview Links</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
            </ul>
            <button class="btn singup-btn" type="submit">Signup</button>
          </div>
        </div>
    </nav>
  </header>
  <main>
      <section class="about-section common-section">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <h3 class="text-center section-main-heading position-relative mb-4">
                          <span class="position-relative z-1">About Us</span>
                      </h3>
                      <p class="text-center fs-5 opacity-50">With lot of unique book. You can easily search for a book and download it.</p>
                  </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <figure class="text-center mt-5">
                        <img src="assets/img/about-banner.png" alt="" class="w-100">
                    </figure>
                </div>
                
              </div>
              <div class="company-profile">
                <div class="row">
                  <div class="col-md-4">
                    <div class="company-vision p-3">
                      <h4 class="mb-3">Our Mission</h4>
                      <p>Lörem ipsum e-krona egor nyn cosplay ifall feras. Reråss plans i diasm. Vanat appa. </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="company-vision p-3">
                      <h4 class="mb-3">Our Vission</h4>
                      <p>Lörem ipsum e-krona egor nyn cosplay ifall feras. Reråss plans i diasm. Vanat appa. </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="company-vision p-3">
                      <h4 class="mb-3">Our Values</h4>
                      <p>Lörem ipsum e-krona egor nyn cosplay ifall feras. Reråss plans i diasm. Vanat appa. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="meet-our-team pb-5">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h3 class="text-center section-main-heading position-relative mb-5">
                        <span class="position-relative z-1">Meet our team</span>
                    </h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="team-card">
                      <div class="team-user-avatar mb-4">
                        <figure>
                          <img src="assets/img/team-avatar-1.png" alt="" class="w-100 img-fluid">
                        </figure>
                      </div>
                      <div class="team-user-info">
                        <h3 class="mb-2">Joe Bridges</h3>
                        <p>Founder</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="team-card">
                      <div class="team-user-avatar mb-4">
                        <figure>
                          <img src="assets/img/team-avatar-2.png" alt="" class="w-100 img-fluid">
                        </figure>
                      </div>
                      <div class="team-user-info">
                        <h3 class="mb-2">Jeffrey Walters</h3>
                        <p>Cheif Executive Officer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="team-card">
                      <div class="team-user-avatar mb-4">
                        <figure>
                          <img src="assets/img/team-avatar-3.png" alt="" class="w-100 img-fluid">
                        </figure>
                      </div>
                      <div class="team-user-info">
                        <h3 class="mb-2">Jason Reed</h3>
                        <p>Chief Technology Officer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="team-card">
                      <div class="team-user-avatar mb-4">
                        <figure>
                          <img src="assets/img/team-avatar-4.png" alt="" class="w-100 img-fluid" class="w-100 img-fluid">
                        </figure>
                      </div>
                      <div class="team-user-info">
                        <h3 class="mb-2">Nellie Padilla</h3>
                        <p>Creative Director</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="client-testimonial pt-5">
                <div class="row">
                  <div class="col-md-12 text-center">
                      <h3 class="text-center section-main-heading position-relative mb-4">
                          <span class="position-relative z-1">What world says about us</span>
                      </h3>
                      <p class="text-center fs-5 opacity-50">Here’s what our users have to say about our services</p>
                  </div>
              </div>
              
              </div>
          </div>
      </section>
      <div class="slider-div">
                
        <!--<ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
             [config]="slideConfig" >

             <div ngxSlickItem class="client-feeback text-center bg-white-smoke slide">
              <div class="img-div d-flex flex-column  align-items-center">
                <figure class="mb-4">
                  <img src="assets/img/testimonial-img.png" alt="" class="img-fluid">
                </figure>
                <h2 class="my-5">"I can't say enough about it. Thanks for the great service. It's the perfect solution for our business. You've saved our business!"</h2>
                <div class="client-info mt-4">
                  <h4>Heiden Brown</h4>
                  <p>Upwork CEO</p>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="client-feeback text-center bg-titan-white slide">
              <div class="img-div d-flex flex-column align-items-center justify-content-between">
                <figure class="mb-4">
                  <img src="assets/img/testimonial-img.png" alt="" class="img-fluid">
                </figure>
                <h2 class="my-5">"I can't say enough about it. Thanks for the great service. It's the perfect solution for our business. You've saved our business!"</h2>
                <div class="client-info mt-4">
                  <h4>Heiden Brown</h4>
                  <p>Upwork CEO</p>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="client-feeback text-center buttery-white slide">
              <div class="img-div d-flex flex-column align-items-center justify-content-between">
                <figure class="mb-4">
                  <img src="assets/img/testimonial-img.png" alt="" class="img-fluid">
                </figure>
                <h2 class="my-5">"I can't say enough about it. Thanks for the great service. It's the perfect solution for our business. You've saved our business!"</h2>
                <div class="client-info mt-4">
                  <h4>Heiden Brown</h4>
                  <p>Upwork CEO</p>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="client-feeback text-center bg-white-smoke slide">
              <div class="img-div d-flex flex-column align-items-center justify-content-between">
                <figure class="mb-4">
                  <img src="assets/img/testimonial-img.png" alt="" class="img-fluid">
                </figure>
                <h2 class="my-5">"I can't say enough about it. Thanks for the great service. It's the perfect solution for our business. You've saved our business!"</h2>
                <div class="client-info mt-4">
                  <h4>Heiden Brown</h4>
                  <p>Upwork CEO</p>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="client-feeback text-center bg-titan-white slide">
              <div class="img-div d-flex flex-column align-items-center justify-content-between">
                <figure class="mb-4">
                  <img src="assets/img/testimonial-img.png" alt="" class="img-fluid">
                </figure>
                <h2 class="my-5">"I can't say enough about it. Thanks for the great service. It's the perfect solution for our business. You've saved our business!"</h2>
                <div class="client-info mt-4">
                  <h4>Heiden Brown</h4>
                  <p>Upwork CEO</p>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="client-feeback text-center buttery-white slide">
              <div class="img-div d-flex flex-column align-items-center justify-content-between">
                <figure class="mb-4">
                  <img src="assets/img/testimonial-img.png" alt="" class="img-fluid">
                </figure>
                <h2 class="my-5">"I can't say enough about it. Thanks for the great service. It's the perfect solution for our business. You've saved our business!"</h2>
                <div class="client-info mt-4">
                  <h4>Heiden Brown</h4>
                  <p>Upwork CEO</p>
                </div>
              </div>
            </div>
        </ngx-slick-carousel>-->
      </div>
  </main>
