<app-topbar></app-topbar>
<main>
    <section class="hero-section">
      <div class="hero-section-sub">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8">
                    <p class="banner-title text-white">FEATURED BOOKS</p>
                    <h1>
                        Discover <span class="highlight fw-bold">Best<br/> Books</span> at JK Library
                    </h1>
                </div>
            </div>
        </div>
        </div>
        <div class="hero-section-right-corve"></div>
        <figure>
            <img class="w-100 banner-content-img" src="assets/img/banner-content-img-2.png" alt="">
        </figure>
        <div style="justify-items: end;">
          <div class="hero-section-left-corve"></div>
        </div>
    </section>
    <section class="books-wrapper bg-white common-top-bottom-spacing common-section pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-center section-main-heading position-relative mb-4">
                        <span class="position-relative z-1">Featured Books</span>
                    </h3>
                    <p class="text-center fs-5 opacity-50">Below are our featured books from one of the finest collection.</p>
                </div>
            </div>
        </div>
        <div class="filter-section d-flex">
            <div class="filter-side-bar w-20">
                <div class="sider-bar-header border-bottom d-flex justify-content-between align-items-center p-3">
                    <h4>Filter</h4>
                    <span>
                        <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.83333 6.33333L2.83333 1.75M2.83333 18.25L2.83333 10M13.8333 18.25L13.8333 10M8.33333 18.25V13.6667M8.33333 10V1.75M13.8333 6.33333L13.8333 1.75M1 6.33333H4.66667M6.5 13.6667H10.1667M12 6.33333L15.6667 6.33333" stroke="black" stroke-width="1.8" stroke-linecap="round"/>
                        </svg>
                    </span>
                </div>
                <div class="sider-bar-content mt-3">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item border-0">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Story
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0">
                              <p class="text-center">Coming Soon !</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item border-0">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Horror
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0">
                              <p class="text-center">Coming Soon !</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item border-0">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Suspese
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0">
                              <p class="text-center">Coming Soon !</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="Love">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLove" aria-expanded="false" aria-controls="collapseLove">
                                  Love
                              </button>
                            </h2>
                            <div id="collapseLove" class="accordion-collapse collapse" aria-labelledby="Love" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="Movie">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMovie" aria-expanded="false" aria-controls="collapseMovie">
                                Movie
                              </button>
                            </h2>
                            <div id="collapseMovie" class="accordion-collapse collapse" aria-labelledby="Movie" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="Novel">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNovel" aria-expanded="false" aria-controls="collapseNovel">
                                Novel
                              </button>
                            </h2>
                            <div id="collapseNovel" class="accordion-collapse collapse" aria-labelledby="Novel" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="SelfStories">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSelfStories" aria-expanded="false" aria-controls="collapseSelfStories">
                                Self Stories
                              </button>
                            </h2>
                            <div id="collapseSelfStories" class="accordion-collapse collapse" aria-labelledby="SelfStories" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="Programs">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrograms" aria-expanded="false" aria-controls="collapsePrograms">
                                Programs
                              </button>
                            </h2>
                            <div id="collapsePrograms" class="accordion-collapse collapse" aria-labelledby="Programs" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="Magic">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMagic" aria-expanded="false" aria-controls="collapseMagic">
                                Magic
                              </button>
                            </h2>
                            <div id="collapseMagic" class="accordion-collapse collapse" aria-labelledby="Magic" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0 border-bottom">
                            <h2 class="accordion-header" id="Pages">
                              <button class="accordion-button collapsed border-bottom border-top fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                Pages
                              </button>
                            </h2>
                            <div id="collapsePages" class="accordion-collapse collapse" aria-labelledby="Pages" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0 border-bottom">
                            <h2 class="accordion-header" id="Chapters">
                              <button class="accordion-button collapsed border-bottom fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChapters" aria-expanded="false" aria-controls="collapseChapters">
                                Chapters
                              </button>
                            </h2>
                            <div id="collapseChapters" class="accordion-collapse collapse" aria-labelledby="Chapters" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="filter-content-box w-80">
                <div class="filter-content-header d-flex align-items-center justify-content-between flex-wrap">
                    <h3>Recommended Books</h3>
                    <form action="" style="padding: 0 14px 0 0;">
                        <div class="my-2 icon-with-input position-relative">
                            <input type="text" name="" id="" placeholder="Search by location, place..." class="border-0">
                            <span class="icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="filter-content-cards mt-5">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-4 col-md-6"  *ngFor="let book of recommendedBooks">
                                <div class="card-blog">
                                    <div class="card-img position-relative">
                                        <span class="download-icon icon icon-left" (click)="downloadFile(book)">
                                          <i class="fa-solid fa-arrow-down"></i>
                                        </span>
                                        <span class="fvrt-icon icon icon-right">
                                          <i class="fa-regular fa-heart"></i>
                                        </span>
                                        <figure>
                                            <img src="{{book.displayCoverPage}}" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                                        <div class="langauge">
                                          <span class="bg-dark text-white">{{book.categoryName}}</span>
                                          <span class="bg-theme">{{book.language}}</span>
                                        </div>
                                        <span>
                                            <i class="fa-solid fa-star text-warning"></i> 5.0
                                        </span>
                                    </div>
                                    <div class="book-info d-flex align-items-center justify-content-between my-3">
                                      <div>
                                        <h4>{{book.title}}</h4>
                                        <p>{{book.author}}</p>
                                      </div>
                                      <span class="no-of-pages p-2 rounded">60 pages</span>
                                      
                                    </div>
                                    <span>
                                      <a href="" class="read-more-text">Read now <i class="fa-solid fa-arrow-right"></i></a>
                                    </span>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
                <div class="pagination justify-content-between px-4">
                  <span class="d-inline-block"><i class="fa-solid fa-angle-left"></i> Previous</span>
                  <ul class="d-flex gap-3 list-unstyled">
                    <li>
                      <span class="active">1</span>
                    </li>
                    <li>
                      <span>2</span>
                    </li>
                    <li>
                      <span>3</span>
                    </li>
                    <li>
                      <span>4</span>
                    </li>
                    <li>
                      <span>5</span>
                    </li>
                    <li>
                      <span>6</span>
                    </li>
                    <li>
                      <span>7</span>
                    </li>
                    <li>
                      <span>8</span>
                    </li>
                    <li>
                      <span>9</span>
                    </li>
                    <li>
                      <span>10</span>
                    </li>
                  </ul>
                  <span class="d-inline-block">Next <i class="fa-solid fa-angle-right"></i></span>
                </div>
            </div>
        </div>
    </section>
    <section class="books-wrapper bg-ash-grey py-5 mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-center section-main-heading position-relative mb-4">
                        <span class="position-relative z-1">Recommended Books</span>
                    </h3>
                    <p class="text-center fs-5 opacity-50">Below are our featured books from one of the finest collection.</p>
                </div>
            </div>
        </div>
        <div class="filter-section d-flex w-80 m-auto">
            <div class="filter-content-box">
                <div class="filter-content-header d-flex align-items-center justify-content-between flex-wrap">
                    <h3>Recommended Books</h3>
                    <form action="">
                        <div class="my-2 icon-with-input position-relative">
                            <input type="text" name="" id="" placeholder="Search by location, place..." class="border-0 pe-5 bg-transparent">
                            <span class="icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="filter-content-cards mt-5">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="card-blog">
                                    <div class="card-img position-relative">
                                        <span class="download-icon icon icon-left">
                                          <i class="fa-solid fa-arrow-down"></i>
                                        </span>
                                        <span class="fvrt-icon icon icon-right">
                                          <i class="fa-regular fa-heart"></i>
                                        </span>
                                        <figure>
                                            <img src="assets/img/book-1.png" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                                        <div class="langauge">
                                            <span class="bg-dark text-white">English</span>
                                            <span class="bg-theme">Suspense</span>
                                        </div>
                                        <span>
                                            <i class="fa-solid fa-star text-warning"></i> 5.0
                                        </span>
                                    </div>
                                    <div class="book-info d-flex align-items-center justify-content-between my-3">
                                      <div>
                                        <h4>The Flash No. 01</h4>
                                        <p>Joshua Williamson</p>
                                      </div>
                                      <span class="no-of-pages p-2 rounded">60 pages</span>
                                      
                                    </div>
                                    <span>
                                      <a href="" class="read-more-text">Read now <i class="fa-solid fa-arrow-right"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                              <div class="card-blog">
                                  <div class="card-img position-relative">
                                      <span class="download-icon icon icon-left">
                                        <i class="fa-solid fa-arrow-down"></i>
                                      </span>
                                      <span class="fvrt-icon icon icon-right">
                                        <i class="fa-regular fa-heart"></i>
                                      </span>
                                      <figure>
                                          <img src="assets/img/book-2.png" alt="" class="w-100">
                                      </figure>
                                  </div>
                                  <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                                      <div class="langauge">
                                          <span class="bg-dark text-white">English</span>
                                          <span class="bg-theme">Suspense</span>
                                      </div>
                                      <span>
                                          <i class="fa-solid fa-star text-warning"></i> 5.0
                                      </span>
                                  </div>
                                  <div class="book-info d-flex align-items-center justify-content-between my-3">
                                    <div>
                                      <h4>The Flash No. 01</h4>
                                      <p>Joshua Williamson</p>
                                    </div>
                                    <span class="no-of-pages p-2 rounded">60 pages</span>
                                    
                                  </div>
                                  <span>
                                    <a href="" class="read-more-text">Read now <i class="fa-solid fa-arrow-right"></i></a>
                                  </span>
                              </div>
                          </div>
                          <div class="col-xl-4 col-md-6">
                                <div class="card-blog">
                                    <div class="card-img position-relative">
                                        <span class="download-icon icon icon-left">
                                          <i class="fa-solid fa-arrow-down"></i>
                                        </span>
                                        <span class="fvrt-icon icon icon-right">
                                          <i class="fa-regular fa-heart"></i>
                                        </span>
                                        <figure>
                                            <img src="assets/img/book-3.png" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                                        <div class="langauge">
                                            <span class="bg-dark text-white">English</span>
                                            <span class="bg-theme">Suspense</span>
                                        </div>
                                        <span>
                                            <i class="fa-solid fa-star text-warning"></i> 5.0
                                        </span>
                                    </div>
                                    <div class="book-info d-flex align-items-center justify-content-between my-3">
                                      <div>
                                        <h4>The Flash No. 01</h4>
                                        <p>Joshua Williamson</p>
                                      </div>
                                      <span class="no-of-pages p-2 rounded">60 pages</span>
                                      
                                    </div>
                                    <span>
                                      <a href="" class="read-more-text">Read now <i class="fa-solid fa-arrow-right"></i></a>
                                    </span>
                                </div>
                          </div>
                          <div class="col-xl-4 col-md-6">
                            <div class="card-blog">
                                <div class="card-img position-relative">
                                    <span class="download-icon icon icon-left">
                                      <i class="fa-solid fa-arrow-down"></i>
                                    </span>
                                    <span class="fvrt-icon icon icon-right">
                                      <i class="fa-regular fa-heart"></i>
                                    </span>
                                    <figure>
                                        <img src="assets/img/book-1.png" alt="" class="w-100">
                                    </figure>
                                </div>
                                <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                                    <div class="langauge">
                                        <span class="bg-dark text-white">English</span>
                                        <span class="bg-theme">Suspense</span>
                                    </div>
                                    <span>
                                        <i class="fa-solid fa-star text-warning"></i> 5.0
                                    </span>
                                </div>
                                <div class="book-info d-flex align-items-center justify-content-between my-3">
                                  <div>
                                    <h4>The Flash No. 01</h4>
                                    <p>Joshua Williamson</p>
                                  </div>
                                  <span class="no-of-pages p-2 rounded">60 pages</span>
                                  
                                </div>
                                <span>
                                  <a href="" class="read-more-text">Read now <i class="fa-solid fa-arrow-right"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                          <div class="card-blog">
                              <div class="card-img position-relative">
                                  <span class="download-icon icon icon-left">
                                    <i class="fa-solid fa-arrow-down"></i>
                                  </span>
                                  <span class="fvrt-icon icon icon-right">
                                    <i class="fa-regular fa-heart"></i>
                                  </span>
                                  <figure>
                                      <img src="assets/img/book-2.png" alt="" class="w-100">
                                  </figure>
                              </div>
                              <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                                  <div class="langauge">
                                      <span class="bg-dark text-white">English</span>
                                      <span class="bg-theme">Suspense</span>
                                  </div>
                                  <span>
                                      <i class="fa-solid fa-star text-warning"></i> 5.0
                                  </span>
                              </div>
                              <div class="book-info d-flex align-items-center justify-content-between my-3">
                                <div>
                                  <h4>The Flash No. 01</h4>
                                  <p>Joshua Williamson</p>
                                </div>
                                <span class="no-of-pages p-2 rounded">60 pages</span>
                                
                              </div>
                              <span>
                                <a href="" class="read-more-text">Read now <i class="fa-solid fa-arrow-right"></i></a>
                              </span>
                          </div>
                      </div>
                      <div class="col-xl-4 col-md-6">
                            <div class="card-blog">
                                <div class="card-img position-relative">
                                    <span class="download-icon icon icon-left">
                                      <i class="fa-solid fa-arrow-down"></i>
                                    </span>
                                    <span class="fvrt-icon icon icon-right">
                                      <i class="fa-regular fa-heart"></i>
                                    </span>
                                    <figure>
                                        <img src="assets/img/book-3.png" alt="" class="w-100">
                                    </figure>
                                </div>
                                <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                                    <div class="langauge">
                                        <span class="bg-dark text-white">English</span>
                                        <span class="bg-theme">Suspense</span>
                                    </div>
                                    <span>
                                        <i class="fa-solid fa-star text-warning"></i> 5.0
                                    </span>
                                </div>
                                <div class="book-info d-flex align-items-center justify-content-between my-3">
                                  <div>
                                    <h4>The Flash No. 01</h4>
                                    <p>Joshua Williamson</p>
                                  </div>
                                  <span class="no-of-pages p-2 rounded">60 pages</span>
                                  
                                </div>
                                <span>
                                  <a href="" class="read-more-text">Read now <i class="fa-solid fa-arrow-right"></i></a>
                                </span>
                            </div>
                      </div>
                        </div>
                    </div>
                </div>
                <div class="pagination justify-content-between px-4">
                  <span class="d-inline-block"><i class="fa-solid fa-angle-left"></i> Previous</span>
                  <ul class="d-flex gap-3 list-unstyled">
                    <li>
                      <span class="active">1</span>
                    </li>
                    <li>
                      <span>2</span>
                    </li>
                    <li>
                      <span>3</span>
                    </li>
                    <li>
                      <span>4</span>
                    </li>
                    <li>
                      <span>5</span>
                    </li>
                    <li>
                      <span>6</span>
                    </li>
                    <li>
                      <span>7</span>
                    </li>
                    <li>
                      <span>8</span>
                    </li>
                    <li>
                      <span>9</span>
                    </li>
                    <li>
                      <span>10</span>
                    </li>
                  </ul>
                  <span class="d-inline-block">Next <i class="fa-solid fa-angle-right"></i></span>
                </div>
            </div>
        </div>
    </section>
   
</main>
<app-footer></app-footer>
