<app-topbar></app-topbar>
  <main>
      <section class="common-section book-detail-wrapper">
        <div style="margin-top: 70px;" class="book-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6">
                        <figure class="text-center h-100">
                            <img src="{{bookDetail?.displayCoverPage}}" alt="" class="h-100 border p-4 rounded">
                        </figure>
                    </div>
                    <div class="col-xl-6">
                        <div class="book-rating">
                            <span>
                                <i class="fa-solid fa-star mx-1 text-warning"></i>
                                <i class="fa-solid fa-star mx-1 text-warning"></i>
                                <i class="fa-solid fa-star mx-1 text-warning"></i>
                                <i class="fa-solid fa-star mx-1 text-warning"></i>
                                <i class="fa-solid fa-star mx-1 text-warning"></i>
                            </span>
                            <span class="ms-2">4.5</span>
                        </div>
                        <h2 class="mt-4">{{bookDetail?.title}}</h2>
                        <span class="d-inline-block my-3">by {{bookDetail?.author}}</span>
                       <div class="pages-with-language">
                        <span>45 pages</span>
                        <span>Urdu</span>
                       </div>
                        <ul class="mt-3 book-bullet-list">
                            <li>
                                <span>PDF Format</span>
                            </li>
                            <li>
                              <span>Size: {{bookDetail?.pdfSize}} MB</span>
                            </li>
                            <li>
                              <span>Language:  {{bookDetail?.language}}</span>
                            </li>
                            <li>
                              <span>Writer:  {{bookDetail?.author}}</span>
                            </li>
                        </ul>
                        <button class="theme-btn px-5" (click)="downloadFile(bookDetail)" >Download</button>
                    </div>
                </div>
            </div>
            <div class="book-preview mt-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="pages active p-5">
                                <h3>Q&A: Acces to Education</h3>
                                <h3>Information for field and refugee parents</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <h3>Who is eligible?</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <h3>Children living in Onr Temporary sites.</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <div class="page-bottom">
                                    <hr width="50%">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    pLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                </div>
                                <div class="page-number text-center mt-4">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="pages p-5 mt-3">
                                <h3>Q&A: Acces to Education</h3>
                                <h3>Information for field and refugee parents</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <h3>Who is eligible?</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <h3>Children living in Onr Temporary sites.</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <div class="page-bottom">
                                    <hr width="50%">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    pLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      </section>
      <section class="books-wrapper bg-ash-grey py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-center section-main-heading position-relative mb-4">
                        <span class="position-relative z-1">Recommended Books</span>
                    </h3>
                    <p class="text-center fs-5 opacity-50">Below are our featured books from one of the finest collection.</p>
                </div>
            </div>
        </div>
        <div class="filter-section d-flex w-80 m-auto">
            <div class="filter-content-box">
                <div class="filter-content-header d-flex align-items-center justify-content-between flex-wrap">
                    <h3>Recommended Books</h3>
                    <form action="">
                        <div class="my-2 icon-with-input position-relative">
                            <input type="text" name="" id="" placeholder="Search by location, place..." class="border-0 pe-5 bg-transparent">
                            <span class="icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="filter-content-cards mt-5">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-4 col-md-6"  *ngFor="let book of books">
                                <div class="card-blog">
                                    <div class="card-img position-relative">
                                        <span class="download-icon icon icon-left" (click)="downloadFile(book)">
                                          <i class="fa-solid fa-arrow-down"></i>
                                        </span>
                                        <span class="fvrt-icon icon icon-right">
                                          <i class="fa-regular fa-heart"></i>
                                        </span>
                                        <figure>
                                            <img src="{{book.displayCoverPage}}" alt="" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                                        <div class="langauge">
                                          <span class="bg-dark text-white">{{book.categoryName}}</span>
                                          <span class="bg-theme">{{book.categoryName}}</span>
                                        </div>
                                        <span>
                                            <i class="fa-solid fa-star text-warning"></i> 5.0
                                        </span>
                                    </div>
                                    <div class="book-info d-flex align-items-center justify-content-between my-3">
                                      <div>
                                        <h4>{{book.title}}</h4>
                                        <p>{{book.author}}</p>
                                      </div>
                                      <span class="no-of-pages p-2 rounded">60 pages</span>
                                      
                                    </div>
                                    <span>
                                      <a [routerLink]="['/book-detail',book.id]" href="javascript: void(0);" class="read-more-text">Read now <i class="fa-solid fa-arrow-right"></i></a>
                                    </span>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="pagination justify-content-between px-4">
                  <span class="d-inline-block"><i class="fa-solid fa-angle-left"></i> Previous</span>
                  <ul class="d-flex gap-3 list-unstyled">
                    <li>
                      <span class="active">1</span>
                    </li>
                    <li>
                      <span>2</span>
                    </li>
                    <li>
                      <span>3</span>
                    </li>
                    <li>
                      <span>4</span>
                    </li>
                    <li>
                      <span>5</span>
                    </li>
                    <li>
                      <span>6</span>
                    </li>
                    <li>
                      <span>7</span>
                    </li>
                    <li>
                      <span>8</span>
                    </li>
                    <li>
                      <span>9</span>
                    </li>
                    <li>
                      <span>10</span>
                    </li>
                  </ul>
                  <span class="d-inline-block">Next <i class="fa-solid fa-angle-right"></i></span>
                </div>
            </div>
        </div>
    </section>
     
  </main>
  <app-footer></app-footer>
