<div class="main-wrapper">
    <div class="login-wrapper p-2 d-flex gap-2">
        <div class="left-side w-50 h-100">
            <figure class="h-100">
                <img src="assets/img/left-banner.png" alt="" class="img-fluid h-100 rounded-5 w-100">
            </figure>
        </div>
        <div class="right-side h-100 w-50 pt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">JK Library</h3>
                    </div>
                    <div class="col-md-12">
                      <div class="form-box m-auto mt-48 d-flex flex-column justify-content-center">
                        <h1 *ngIf="!showRecoveryCodes">Enable 2 Step Verification</h1>
                        <h1 *ngIf="showRecoveryCodes">Recovery Codes</h1>
                        <p>To use an authenticator app gp through the following steps:</p>
                        <div class="row" *ngIf="!showRecoveryCodes">
                          <div class="col-md-12">
                            <ol>
                              <li class="mb-2">
                                <span>
                                  <p>
                                    Download a two-factor authenticator app like Microsoft Authenticator for
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                                    <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                                    Google Authenticator for
                                    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                                    <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
                                  </p>
                                </span>
                              </li>
                              <li class="mb-2">
                                <span>Scan the QR Code or enter this key <kbd>{{mfaModel.sharedKey}}</kbd> into your two factor authenticator app. Spaces and casing do not matter.</span>
                                <div class="qr-code my-3">
                                  <qr-code value="{{mfaModel.authenticatorUri}}" size="100" errorCorrectionLevel="M"></qr-code>
                                </div>
                              </li>
                              <li class="mb-2">
                                <span>Once you have scanned the QR code or input the key above, your two factor authentication app will provide you with a unique code. Enter the code in the confirmation box below.</span>
                              </li>
                            </ol>
                          </div>
                          <form [formGroup]="mfaForm" (ngSubmit)="onSubmit()">
                            <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                            <div class="col-lg-12">
                              <h4 class="mb-3">Authenticator Code</h4>
                              <div class="d-flex gap-2 authentication-code">
                                <ng-otp-input #ngOtpInput
                                              (onInputChange)="onOtpChange($event)"
                                              [config]="config"></ng-otp-input>

                                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                                  <span *ngIf="f.code.errors.required">Authenticator code is required</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 mt-48">
                              <div class="input-group">
                                <button class="theme-btn w-100" type="submit">Verify</button>
                              </div>
                            </div>
                          </form>

                        </div>
                        <div class="card-body" *ngIf="showRecoveryCodes">
                          <ngb-alert type="warning" [dismissible]="false">
                            <p>
                              <span class="glyphicon glyphicon-warning-sign"></span>
                              <strong>Put these codes in a safe place.</strong>
                            </p>
                            <p>
                              If you lose your device and don't have the recovery codes you will lose access to your account.
                            </p>
                            <p>
                              Manage your recovery codes by <a href="javascript: void(0);" (click)="copyToClipboard()" class="card-link">copying them to the clipboard</a> or <a href="javascript: void(0);" (click)="downloadCodes()" class="card-link" style="margin-left:0px;">downloading them as a text file</a>
                            </p>
                            <p>
                              Please proceed to the <a routerLink="/account/login" class="card-link">login</a> page to access your account.
                            </p>
                          </ngb-alert>
                          <div class="row">
                            <div class="col-md-12">
                              <ng-container *ngFor="let code of recoveryCodes; let i = index">
                                <ng-container *ngIf="i % 2 === 0">
                                  <code>{{ code }}</code>
                                  <ng-container *ngIf="recoveryCodes[i + 1]">
                                    &nbsp;
                                    <code>{{ recoveryCodes[i + 1] }}</code>
                                  </ng-container>
                                  <br />
                                </ng-container>
                              </ng-container>
                            </div>
                          </div>
                        </div>

                        <!-- end card-body-->
                      </div>
                        <p class="text-center mt-48" style="margin-bottom: 2.5rem !important;">Already have an account? <a href="">Sign In</a></p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
