<div class="main-wrapper">
    <div class="login-wrapper p-2 d-flex gap-2">
        <div class="left-side w-50 h-100">
            <figure class="h-100">
                <img src="assets/img/left-banner.png" alt="" class="img-fluid h-100 rounded-5 w-100">
            </figure>
        </div>
        <div class="right-side h-100 w-50 pt-5">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-md-12">
                        <h3 class="text-center">JK Library</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-box m-auto mt-48 d-flex flex-column justify-content-center">
                            <h1>Welcome!</h1>
                            <p>Enter detail to sign up into your account.</p>
                            <form action="" class="mt-48">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <label class="d-block w-100 mb-1" for="">First Name</label>
                                            <input type="text" class="form-control common-input" placeholder="Enter first name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <label class="d-block w-100 mb-1" for="">Last Name</label>
                                            <input type="text" class="form-control common-input" placeholder="Enter last Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="d-block w-100 mb-1" for="">Email Address</label>
                                            <input type="text" class="form-control common-input" placeholder="Enter Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="d-block w-100 mb-1" for="">Address</label>
                                            <input type="text" class="form-control common-input" placeholder="Enter Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="d-block w-100 mb-1" for="">Contact Number</label>
                                            <input type="number" class="form-control common-input" placeholder="Enter Contact Number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="d-block w-100 mb-1" for="">Profile Picture</label>
                                            <input type="number" class="form-control common-input" placeholder="Enter Contact Number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <button class="theme-btn w-100">Sign Up</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="action-box mb-1 align-items-center d-flex justify-content-center p-2">
                                            <figure>
                                                <img src="assets/img/prime_twitter.svg" alt="">
                                                <span>Twitter</span>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="action-box mb-1 align-items-center d-flex justify-content-center p-2">
                                            <figure>
                                                <img src="assets/img/insta.svg" alt="">
                                                <span>Twitter</span>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <p class="text-center mt-48">Already have an account? <a href="">Sign In</a></p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
