<app-topbar></app-topbar>
<main>
  <section class="hero-section">
    <div class="hero-section-sub">
    <p class="banner-title px-3 text-white">WORLD CLASS</p>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-8">
          <h1 class="text-uppercase">
            Discover <span class="highlight fw-bold">Infinite</span><br /> Knowledge at<br /> JK Library
          </h1>
          <!-- <span class="shape-left-side">
            <figure>
              <img src="assets/img/after-img.png" alt="">
            </figure>
          </span> -->
        </div>
        <div class="col-xl-4 d-flex flex-column justify-content-end">
          <p class="text-white mb-5 para-text">Unlock endless learning opportunities at<br /> JK Library, where knowledge knows no<br /> bounds.</p>
          <a href="/register"> <button class="theme-btn">Create Account</button> </a>
</div>
      </div>
    </div>
  </div>
  <div class="hero-section-right-corve"></div>
    <figure>
      <img class="w-100 banner-content-img" src="assets/img/banner-content-img.svg" alt="">
    </figure>
    <div style="justify-items: end;">
      <div class="hero-section-left-corve"></div>
    </div>
  </section>
  <div class="clear-both"></div>
    <section class="bg-white books-wrapper common-section common-top-bottom-spacing pb-0 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-10 col-sm-8 text-center">
                    <h3 class="text-center section-main-heading position-relative mb-4">
                        <span class="position-relative z-1">Our Recommended Books</span>
                    </h3>
                    <p class="text-center fs-5 opacity-50">Read our all-time best books to spend your best time of life.</p>
                </div>
            </div>
        </div>
        <div class="filter-section d-flex gap-[50px]">
            <div class="filter-side-bar">
                <div class="sider-bar-header border-bottom d-flex justify-content-between align-items-center">
                    <h4>Filter</h4>
                    <span>
                        <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.83333 6.33333L2.83333 1.75M2.83333 18.25L2.83333 10M13.8333 18.25L13.8333 10M8.33333 18.25V13.6667M8.33333 10V1.75M13.8333 6.33333L13.8333 1.75M1 6.33333H4.66667M6.5 13.6667H10.1667M12 6.33333L15.6667 6.33333" stroke="black" stroke-width="1.8" stroke-linecap="round"/>
                        </svg>
                    </span>
                </div>
                <div class="sider-bar-content">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item border-0">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed feature" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Story
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0">
                              <p class="text-center">Coming Soon !</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item border-0">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed feature" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Horror
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0">
                              <p class="text-center">Coming Soon !</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item border-0">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed feature" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Suspese
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0">
                              <p class="text-center">Coming Soon !</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="Love">
                              <button class="accordion-button collapsed feature" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLove" aria-expanded="false" aria-controls="collapseLove">
                                  Love
                              </button>
                            </h2>
                            <div id="collapseLove" class="accordion-collapse collapse" aria-labelledby="Love" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="Movie">
                              <button class="accordion-button collapsed feature" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMovie" aria-expanded="false" aria-controls="collapseMovie">
                                Movie
                              </button>
                            </h2>
                            <div id="collapseMovie" class="accordion-collapse collapse" aria-labelledby="Movie" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="Novel">
                              <button class="accordion-button collapsed feature" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNovel" aria-expanded="false" aria-controls="collapseNovel">
                                Novel
                              </button>
                            </h2>
                            <div id="collapseNovel" class="accordion-collapse collapse" aria-labelledby="Novel" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="SelfStories">
                              <button class="accordion-button collapsed feature" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSelfStories" aria-expanded="false" aria-controls="collapseSelfStories">
                                Self Stories
                              </button>
                            </h2>
                            <div id="collapseSelfStories" class="accordion-collapse collapse" aria-labelledby="SelfStories" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="Programs">
                              <button class="accordion-button collapsed feature" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrograms" aria-expanded="false" aria-controls="collapsePrograms">
                                Programs
                              </button>
                            </h2>
                            <div id="collapsePrograms" class="accordion-collapse collapse" aria-labelledby="Programs" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="Magic">
                              <button class="accordion-button collapsed feature" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMagic" aria-expanded="false" aria-controls="collapseMagic">
                                Magic
                              </button>
                            </h2>
                            <div id="collapseMagic" class="accordion-collapse collapse" aria-labelledby="Magic" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-0">
                                <p class="text-center">Coming Soon !</p>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0 border-bottom">
                            <h2 class="accordion-header" id="Pages">
                              <button class="accordion-button collapsed head border-bottom border-top fs-4 main-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                Pages
                              </button>
                            </h2>
                            <div id="collapsePages" class="accordion-collapse collapse" aria-labelledby="Pages" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <ul class="pages-list list-unstyled d-flex flex-wrap ">
                                  <li class="border rounded text-center">
                                    <span>20</span>
                                  </li>
                                  <li  class="border rounded text-center">
                                    <span>30</span>
                                  </li>
                                  <li  class="border rounded text-center">
                                    <span>40</span>
                                  </li>
                                  <li  class="border rounded text-center">
                                    <span>50</span>
                                  </li>
                                  <li  class="border rounded text-center">
                                    <span>60</span>
                                  </li>
                                  <li  class="border rounded text-center">
                                    <span>70</span>
                                  </li>
                                  <li  class="border rounded text-center">
                                    <span>80</span>
                                  </li>
                                  <li  class="border rounded text-center">
                                    <span>90</span>
                                  </li>
                                  <li  class="border rounded text-center">
                                    <span>100+</span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item border-0 border-bottom">
                            <h2 class="accordion-header" id="Chapters">
                              <button class="accordion-button collapsed head border-bottom fs-4 main-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChapters" aria-expanded="false" aria-controls="collapseChapters">
                                Chapters
                              </button>
                            </h2>
                            <div id="collapseChapters" class="accordion-collapse collapse" aria-labelledby="Chapters" data-bs-parent="#accordionChapter">
                              <div class="accordion-body p-0">
                                <div class="accordion" id="accordionChapter">
                                  <div class="accordion-item border-0">
                                    <h2 class="accordion-header" id="headingChapterOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChapterOne" aria-expanded="true" aria-controls="collapseChapterOne">
                                        2 chapters
                                      </button>
                                    </h2>
                                    <div id="collapseChapterOne" class="accordion-collapse collapse show" aria-labelledby="headingChapterOne" data-bs-parent="#accordionChapter">
                                      <div class="accordion-body">
                                        <p>Coming Soon !</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item border-0">
                                    <h2 class="accordion-header" id="headingChapterTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChapterTwo" aria-expanded="false" aria-controls="collapseChapterTwo">
                                        3 chapters
                                      </button>
                                    </h2>
                                    <div id="collapseChapterTwo" class="accordion-collapse collapse" aria-labelledby="headingChapterTwo" data-bs-parent="#accordionChapter">
                                      <div class="accordion-body">
                                        <p>Coming Soon !</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item border-0">
                                    <h2 class="accordion-header" id="headingChapterThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChapterThree" aria-expanded="false" aria-controls="collapseChapterThree">
                                        4 chapters
                                      </button>
                                    </h2>
                                    <div id="collapseChapterThree" class="accordion-collapse collapse" aria-labelledby="headingChapterThree" data-bs-parent="#accordionChapter">
                                      <div class="accordion-body">
                                        <p>Coming Soon !</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="filter-content-box w-80">
                <div class="filter-content-header d-flex align-items-center justify-content-between flex-wrap">
                    
                    <div class="heading-with-filter-btn">
                      <h3>Recommended Books</h3>
                      <span class="align-items-center gap-2 border px-4 py-2 rounded border-dark">
                        <span>Filter</span>
                        <svg _ngcontent-ng-c605084000="" width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-ng-c605084000="" d="M2.83333 6.33333L2.83333 1.75M2.83333 18.25L2.83333 10M13.8333 18.25L13.8333 10M8.33333 18.25V13.6667M8.33333 10V1.75M13.8333 6.33333L13.8333 1.75M1 6.33333H4.66667M6.5 13.6667H10.1667M12 6.33333L15.6667 6.33333" stroke="black" stroke-width="1.8" stroke-linecap="round"></path></svg>
                      </span>
                    </div>
                    <form action="" style="padding: 0 14px 0 0;">
                        <div class="my-2 icon-with-input position-relative">
                            <input type="text" name="" id="" placeholder="Search by location, place..." class="border-0" (keyup)="reloadRecommendedBooksTbl('search',$event.target.value)">
                            <span class="icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </div>
                    </form>
                    <div class="filter-content-cards mt-5">
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-xl-4 col-md-6" *ngFor="let book of books">
                                  <div class="card-blog">
                                      <div class="card-img position-relative">
                                          <span class="download-icon icon icon-left" (click)="action(book,'download')">
                                            <i class="fa-solid fa-arrow-down"></i>
                                          </span>
                                          <span class="fvrt-icon icon icon-right">
                                            <i class="fa-regular fa-heart"></i>
                                          </span>
                                          <figure>
                                            <a [routerLink]="['/book-detail',book.id]" href="javascript: void(0);">
                                              <img src="{{book.displayCoverPage}}" alt="" class="w-100">
                                            </a>
                                            
                                          </figure>
                                      </div>
                                      <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                                          <div class="langauge">
                                            <span class="bg-dark text-white">{{book.categoryName}}</span>
                                            <span class="bg-theme">{{book.language}}</span>
                                          </div>
                                          <span>
                                              <i class="fa-solid fa-star text-warning"></i> 5.0
                                          </span>
                                      </div>
                                      <div class="book-info d-flex align-items-center justify-content-between my-3">
                                        <div>
                                          <h4>{{book.title}}</h4>
                                          <p>{{book.author}}</p>
                                        </div>
                                        <span class="no-of-pages p-2 rounded">60 pages</span>
                                        
                                      </div>
                                      <span>
                                        <a [routerLink]="['/book-detail',book.id]" href="javascript: void(0);" class="read-more-text">Read now <i class="fa-solid fa-arrow-right"></i></a>
                                      </span>
                                  </div>
                              </div>
                             
                          </div>
                      </div>
                  </div>
                </div>
                
                <div class="pagination justify-content-between px-4" *ngIf="haveRecommendedBooks">
                  <ngb-pagination class="pagination pagination-rounded justify-content-center mt-3 mb-4 pb-1"
                                  [collectionSize]="recommendedBooksPagination?.totalItems"
                                  [(page)]="recommendedBooksPagination.currentPage"
                                  [pageSize]="recommendedBooksPagination?.pageSize"
                                  [maxSize]="7"
                                  [rotate]="true"
                                  [ellipses]="false"
                                  (pageChange)="reloadRecommendedBooksTbl('pagination',$event)"
                                  [boundaryLinks]="true"></ngb-pagination>


                </div>
            </div>
        </div>
    </section>
     <section class="leatest-blog common-section">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-center section-main-heading position-relative mb-4">
                    <span class="position-relative z-1">Our Latest News</span>
                </h3>
                <p class="text-center fs-5 opacity-50">Stay updated with our freshest updates and developments.</p>
            </div>
        </div>
        <div class="multiple-blog">
          <div class="row">
            <div class="col-xl-4 col-md-6">
              <div class="card-blog">
                <div class="card-img position-relative">
                    <figure>
                        <img src="assets/img/news-1.png" alt="" class="w-100">
                    </figure>
                </div>
                <div class="book-info d-flex align-items-center justify-content-between my-3">
                  <div>
                    <h4>Great Books</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
                <span>
                  <a href="" class="read-more-text">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </span>
            </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card-blog">
                <div class="card-img position-relative">
                    <figure>
                        <img src="assets/img/news-2.png" alt="" class="w-100">
                    </figure>
                </div>
                <div class="book-info d-flex align-items-center justify-content-between my-3">
                  <div>
                    <h4>Awesome Words</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
                <span>
                  <a href="" class="read-more-text">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </span>
            </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card-blog">
                <div class="card-img position-relative">
                    <figure>
                        <img src="assets/img/news-3.png" alt="" class="w-100">
                    </figure>
                </div>
                <div class="book-info d-flex align-items-center justify-content-between my-3">
                  <div>
                    <h4>Best Authors</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
                <span>
                  <a href="" class="read-more-text">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </span>
            </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card-blog">
                <div class="card-img position-relative">
                    <figure>
                        <img src="assets/img/news-1.png" alt="" class="w-100">
                    </figure>
                </div>
                <div class="book-info d-flex align-items-center justify-content-between my-3">
                  <div>
                    <h4>Great Books</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
                <span>
                  <a href="" class="read-more-text">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </span>
            </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card-blog">
                <div class="card-img position-relative">
                    <figure>
                        <img src="assets/img/news-2.png" alt="" class="w-100">
                    </figure>
                </div>
                <div class="book-info d-flex align-items-center justify-content-between my-3">
                  <div>
                    <h4>Awesome Words</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
                <span>
                  <a href="" class="read-more-text">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </span>
            </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card-blog">
                <div class="card-img position-relative">
                    <figure>
                        <img src="assets/img/news-3.png" alt="" class="w-100">
                    </figure>
                </div>
                <div class="book-info d-flex align-items-center justify-content-between my-3">
                  <div>
                    <h4>Best Authors</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
                <span>
                  <a href="" class="read-more-text">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </span>
            </div>
            </div>
          </div>
        </div>
    </div>
    </section>
    <section class="featured-section">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-center section-main-heading position-relative mb-4">
                    <span class="position-relative z-1">Our Featured Books</span>
                </h3>
                <p class="text-center fs-5 opacity-50">Enjoy all of our featured books with best authors.</p>
            </div>
        </div>
        <div class="multiple-featured">
          <div class="row">
            <div class="col-md-4" *ngFor="let book of featuredBooks">
              <div class="card-blog">
                <div class="card-img position-relative">
                    <figure>
                        <img src="{{book.coverPage}}" alt="" class="w-100">
                    </figure>
                </div>
                <div class="book-info d-flex align-items-center justify-content-between my-3">
                  <div>
                    <h4>{{book.title}}</h4>
                    <p>{{book.description}}</p>
                  </div>
                </div>
                <span>
                  <span>
                    <a [routerLink]="['/book-detail',book.id]" href="javascript: void(0);" class="read-more-text">Read now <i class="fa-solid fa-arrow-right"></i></a>
                  </span>
                </span>
            </div>
            </div>
      
          </div>
        </div>
    </div>
    </section>
    <section class="team-section common-section">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h3 class="section-main-heading position-relative mb-4">
                    <span class="position-relative z-1">Links of Interviews</span>
                </h3>
            </div>
            <div class="col-md-4">
              <p class="fs-5">Our team brings decades of collecting books, authors, and a collection of ancient stories.</p>
            </div>
        </div>
        <div class="multiple-members">
          <ul class="d-flex flex-wrap list-unstyled gap-3">
            <li class="active">
              <div class="card-blog">
                <div class="card-img position-relative">
                    <div class="employee-data">
                      <div class="member-info">
                        <h4 class="text-white">
                          <span class="highlight">Kendrick</span><br/> Barlamaran.
                        </h4>
                        <p class="text-white fw-300 pt-2">Chief Executive Officer</p>
                      </div>
                      <span class="water-mark-designation">CEO</span>
                      <figure>
                          <img src="assets/img/member-1.png" alt="" class="w-100">
                      </figure>
                    </div>
                    <span class="contact-icon">
                      <span>
                        <i class="fa-solid fa-arrow-right"></i>
                      </span>
                    </span>
                </div>
                <div class="rating-with-language d-flex justify-content-between align-items-center my-2 flex-wrap gap-2">
                  <div class="langauge">
                      <span class="bg-dark text-white">Suspense</span>
                      <span class="bg-light-grey">English</span>
                  </div>
                  <span class="date">20 Jan 2022</span>
              </div>
                <div class="book-info d-flex align-items-center justify-content-between my-3">
                  <div>
                    <h4>Interview with Kendrick Barlamaran</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
                <span>
                  <a href="" class="read-more-text">Read more <i class="fa-solid fa-arrow-right"></i></a>
                </span>
            </div>
            </li>
            <li>
              <div class="card-blog">
                <div class="card-img position-relative">
                    <div class="employee-data">
                      <div class="member-info">
                        <h4 class="text-white">
                          <span class="highlight">Kendrick</span><br/> Barlamaran.
                        </h4>
                        <p class="text-white fw-300 pt-2">Chief Executive Officer</p>
                      </div>
                      <span class="water-mark-designation">CTO</span>
                      <figure>
                          <img src="assets/img/member-2.png" alt="" class="w-100">
                      </figure>
                    </div>
                </div>
                <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                  <div class="langauge">
                      <span class="bg-dark text-white">Suspense</span>
                      <span class="bg-light-grey">English</span>
                  </div>
                  <span class="date">20 Jan 2022</span>
              </div>
                <div class="book-info d-flex align-items-center justify-content-between my-3">
                  <div>
                    <h4>The Horror Book</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
                <span>
                  <a href="" class="read-more-text">Read more <i class="fa-solid fa-arrow-right"></i></a>
                </span>
            </div>
            </li>
            <li>
              <div class="card-blog">
                <div class="card-img position-relative">
                    <div class="employee-data">
                      <div class="member-info">
                        <h4 class="text-white">
                          <span class="highlight">Kendrick</span><br/> Barlamaran.
                        </h4>
                        <p class="text-white fw-300 pt-2">Chief Executive Officer</p>
                      </div>
                      <span class="water-mark-designation">CTO</span>
                      <figure>
                          <img src="assets/img/member-3.png" alt="" class="w-100">
                      </figure>
                    </div>
                </div>
                <div class="rating-with-language d-flex justify-content-between align-items-center my-2">
                  <div class="langauge">
                      <span class="bg-dark text-white">Suspense</span>
                      <span class="bg-light-grey">English</span>
                  </div>
                  <span class="date">20 Jan 2022</span>
              </div>
                <div class="book-info d-flex align-items-center justify-content-between">
                  <div>
                    <h4>The Horror Book</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
                <span>
                  <a href="" class="read-more-text">Read more <i class="fa-solid fa-arrow-right"></i></a>
                </span>
            </div>
            </li>
          </ul>
        </div>
    </div>
    </section>
    <section class="our-blog common-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <h3 class="section-main-heading position-relative mb-4">
                  <span class="position-relative z-1">Our Blog</span>
              </h3>
          </div>
      </div>
      <div class="multiple-blog">
        <div class="row">
          <div class="col-xl-6 col-md-12">
            <div class="card-blog">
              <div class="card-img position-relative">
                  <figure>
                      <img src="assets/img/blog-1.png" alt="" class="w-100">
                  </figure>
              </div>
              <div class="author-info-with-blog-category our-blog-main-category d-flex justify-content-between align-items-center">
                  <div class="author-info d-flex gap-3">
                    <div class="avatar">
                      <img src="assets/img/user-avatar.png" alt="">
                    </div>
                    <div class="authar-data">
                      <h5>Olivia Rhye</h5>
                      <p>20 Jan 2022</p>
                    </div>
                  </div>
                  <span class="blog-category bg-theme p-2 px-4 rounded-5">
                    Study
                  </span>
              </div>
              <div class="book-info our-blog-main-heading d-flex align-items-center justify-content-between">
                <div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h4>
                  <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt eget nullam non nisi est</p>
                </div>
              </div>
              <span>
                <a href="" class="read-more-text blog-text">Show more</a>
              </span>
          </div>
          </div>
          <div class="col-xl-6 col-md-12">
            <div class="card-blog child-blog d-flex">
              <div class="card-img position-relative">
                  <figure class="position-relative">
                      <img src="assets/img/blog-2.png" alt="" class="w-100">
                      <span class="blog-category bg-theme p-2 px-4 rounded-5 position-absolute">
                        Study
                      </span>
                  </figure>
                
              </div>
              <div class="blog-data">
                <div class="author-info-with-blog-category d-flex justify-content-between align-items-center">
                  <div class="author-info d-flex gap-3">
                    <div class="avatar">
                      <img src="assets/img/user-avatar.png" alt="">
                    </div>
                    <div class="authar-data">
                      <h5>Olivia Rhye</h5>
                      <p>20 Jan 2022</p>
                    </div>
                  </div>
                 
              </div>
              <div class="book-info d-flex align-items-center justify-content-between">
                <div>
                  <h4>Professional English Course</h4>
                  <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt eget nullam non nisi est</p>
                </div>
              </div>
              <span>
                <a href="" class="read-more-text blog-text">Show more</a>
              </span>
              </div>
          </div>
          <div class="card-blog child-blog d-flex">
            <div class="card-img position-relative">
                <figure class="position-relative">
                    <img src="assets/img/blog-3.png" alt="" class="w-100">
                    <span class="blog-category bg-theme p-2 px-4 rounded-5 position-absolute">
                      Study
                    </span>
                </figure>
                
            </div>
            <div class="blog-data">
              <div class="author-info-with-blog-category d-flex justify-content-between align-items-center">
                <div class="author-info d-flex gap-3">
                  <div class="avatar">
                    <img src="assets/img/user-avatar.png" alt="">
                  </div>
                  <div class="authar-data">
                    <h5>Olivia Rhye</h5>
                    <p>20 Jan 2022</p>
                  </div>
                </div>
               
            </div>
            <div class="book-info d-flex align-items-center justify-content-between">
              <div>
                <h4>Professional English Course</h4>
                <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt eget nullam non nisi est</p>
              </div>
            </div>
            <span>
              <a href="" class="read-more-text blog-text">Show more</a>
            </span>
            </div>
        </div>
        <div class="card-blog child-blog d-flex">
          <div class="card-img position-relative">
              <figure class="position-relative">
                  <img src="assets/img/blog-4.png" alt="" class="w-100">
                  <span class="blog-category bg-theme p-2 px-4 rounded-5 position-absolute">
                    Study
                  </span>
              </figure>
              
          </div>
          <div class="blog-data">
            <div class="author-info-with-blog-category d-flex justify-content-between align-items-center">
              <div class="author-info d-flex gap-3">
                <div class="avatar">
                  <img src="assets/img/user-avatar.png" alt="">
                </div>
                <div class="authar-data">
                  <h5>Olivia Rhye</h5>
                  <p>20 Jan 2022</p>
                </div>
              </div>
             
          </div>
          <div class="book-info d-flex align-items-center justify-content-between">
            <div>
              <h4>Professional English Course</h4>
              <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt eget nullam non nisi est</p>
            </div>
          </div>
          <span>
            <a href="" class="read-more-text blog-text">Show more</a>
          </span>
          </div>
      </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="send-book common-section">
      <div class="form-div">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h1 class="fw-700">Send a book</h1>
            </div>
            <div class="col-md-12">
              <form  [formGroup]="bookInfoForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <ngb-alert type="danger" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
                  <ngb-alert type="success" *ngIf="success" [dismissible]="true">{{ success }}</ngb-alert>
                  <div class="col-md-6">
                    <div class="input-group">
                      <label class="d-block w-100 mb-1">Book Name<span class="text-danger">*</span></label>
                      <input type="text" name="title" formControlName="title"
                             [ngClass]="{ 'is-invalid': submitted && f.title.errors }" class="form-control common-input"
                             placeholder="Enter Book Name">
                      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Book name is required </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <label class="d-block w-100 mb-1">Book Author<span class="text-danger">*</span></label>
                      <input type="text" name="author" formControlName="author"
                             [ngClass]="{ 'is-invalid': submitted && f.author.errors }" class="form-control common-input"
                             placeholder="Enter Author Name">
                      <div *ngIf="submitted && f.author.errors" class="invalid-feedback">
                        <div *ngIf="f.author.errors.required">Author name is required </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <label class="d-block w-100 mb-1">Category<span class="text-danger">*</span></label>
                      <select class="form-control common-input"
                              name="categoryId"
                              [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }"
                              placeholder="Select category"
                              formControlName="categoryId">
                        <option value="">Select category</option>
                        <option *ngFor="let item of categoriesDDL " value="{{item.id}}">{{item.name}}</option>
                      </select>
                      <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
                        <div *ngIf="f.categoryId.errors.required">Please select category</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <label class="d-block w-100 mb-1">Select Language<span class="text-danger">*</span></label>
                      <select class="form-control common-input"
                              name="language"
                              [ngClass]="{ 'is-invalid': submitted && f.language.errors }"
                              placeholder="Select Language"
                              formControlName="language">
                        <option value="">Select Language</option>
                        <option value="English">English</option>
                        <option value="English">Kashmiri</option>
                        <option value="English">Pharsi</option>
                        <option value="Urdu">Urdu</option>
                      </select>
                      <div *ngIf="submitted && f.language.errors" class="invalid-feedback">
                        <div *ngIf="f.language.errors.required">Please select language</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="input-group attachment-input">
                      <label class="d-block w-100 mb-1" for="">Cover Page<span class="text-danger">*</span></label>
                      <input (change)="onfileUpload($event,'Image')" accept="image/png, image/jpg, image/jpeg"
                             [ngClass]="{ 'is-invalid': submitted && f.coverPage.errors }"
                             type="file" class="form-control common-input">
                      <span class="attachment-lable"><i class="fa-solid fa-arrow-up-from-bracket"></i> Upload Cover Page</span>
                      <span class="badge bg-secondary mt-1">{{coverPageOrignalFileName}}</span>
                      <div *ngIf="submitted && f.coverPage.errors" class="invalid-feedback">
                        <div *ngIf="f.coverPage.errors.required">Cover page is required </div>
                      </div>
                      <span class="d-block w-100">
                        <small class="float-end">Allowed JPG, JPEG or PNG. Max size of 800kB</small>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group attachment-input">
                      <label class="d-block w-100 mb-1" for="">Upload Book<span class="text-danger">*</span></label>
                      <input (change)="onfileUpload($event,'Pdf')" accept="application/pdf"
                             [ngClass]="{ 'is-invalid': submitted && f.url.errors }"
                             type="file" class="form-control common-input">
                      <span class="attachment-lable"><i class="fa-solid fa-arrow-up-from-bracket"></i> Upload Book</span>

                      <span class="badge bg-secondary">{{bookOrignalFileName}}</span>
                      <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
                        <div *ngIf="f.url.errors.required">Please upload book pdf</div>
                      </div>
                      <span class="d-block w-100">
                        <small class="float-end">Allowed format PDF. Max size: 4 MB</small>
                      </span>
                    </div>
                  </div>


                  <div class="col-md-12 text-end">
                    <button class="theme-btn mt-5" type="submit">Submit Book</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
<app-footer></app-footer>
