<app-topbar></app-topbar>
<main>
    <section class="contact-us common-section m-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-center section-main-heading position-relative mb-4">
                        <span class="position-relative z-1">Contact Us</span>
                    </h3>
                </div>
            </div>
            <div class="contact-box">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="contact-card d-flex gap-4 mb-3">
                            <div class="contact-icon">
                                <span>
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                            </div>
                            <div class="contact-content">
                                <h4 class="mb-4">Call us</h4>
                                <p>+1-940-394-2948</p>
                                <p>+1-389-385-3807</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="contact-card d-flex gap-4 mb-3">
                            <div class="contact-icon">
                                <span>
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                            </div>
                            <div class="contact-content">
                                <h4 class="mb-4">Email us</h4>
                                <p>support&#64;jklibrary.com</p>
                                <p>contact&#64;jklibrary.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="contact-card d-flex gap-4 mb-3">
                            <div class="contact-icon">
                                <span>
                                    <i class="fa-solid fa-location-dot"></i>
                                </span>
                            </div>
                            <div class="contact-content">
                                <h4 class="mb-4">Visit us</h4>
                                <p>34 Madison Street,</p>
                                <p>NY, USA 10005</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form rounded">
                <form  [formGroup]="contactInfoForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <ngb-alert type="danger" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
                    <ngb-alert type="success" *ngIf="success" [dismissible]="true">{{ success }}</ngb-alert>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label class="d-block w-100 mb-1">First & Last Name<span class="text-danger">*</span></label>
                        <input type="text" name="name" formControlName="name"
                               [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control common-input"
                               placeholder="i.e. John Doe">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">First & Last name is required </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label class="d-block w-100 mb-1">Email<span class="text-danger">*</span></label>
                        <input type="text" name="email" formControlName="email"
                               [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control common-input"
                               placeholder="i.e. john@example.com">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required </div>
                          <div *ngIf="f.email.errors.email">Please enter valid email. </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label for="" class="d-block w-100 mb-1">Phone Number</label>
                        <input type="text" class="form-control common-input" name="" id="" placeholder="i.e. +1-234-567-7890">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label class="d-block w-100 mb-1">Subject<span class="text-danger">*</span></label>
                        <input type="text" name="subject" formControlName="subject"
                               [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" class="form-control common-input"
                               placeholder="i.e. I need a help">
                        <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                          <div *ngIf="f.subject.errors.required">Subject is required </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <label class="d-block w-100 mb-1">Message<span class="text-danger">*</span></label>
                        <textarea rows="4" name="message" formControlName="message"
                               [ngClass]="{ 'is-invalid': submitted && f.message.errors }" class="form-control common-input"
                               placeholder="Type your message"> </textarea>
                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                          <div *ngIf="f.message.errors.required">Message is required </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="text-end">
                        <button type="submit" class="theme-btn px-4">Submit</button>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </section>
   
</main>
<app-footer></app-footer>
