<header class="position-fixed w-100 z-2">
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <h4>
          <a class="navbar-brand fs-3 text-white" href="#">JK Library.</a>
        </h4>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav gap-5 m-auto ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Latest News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/featured-book" tabindex="-1" >Featured Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/interview">Interview Links</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
          </ul>
          <button class="btn singup-btn" type="submit">Signup</button>
        </div>
      </div>
  </nav>
</header>
<main>
    <section class="contact-us common-section m-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-center section-main-heading position-relative mb-4">
                        <span class="position-relative z-1">Contact Us</span>
                    </h3>
                </div>
            </div>
            <div class="contact-box">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="contact-card d-flex gap-4 mb-3">
                            <div class="contact-icon">
                                <span>
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                            </div>
                            <div class="contact-content">
                                <h4 class="mb-4">Call us</h4>
                                <p>+1-940-394-2948</p>
                                <p>+1-389-385-3807</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="contact-card d-flex gap-4 mb-3">
                            <div class="contact-icon">
                                <span>
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                            </div>
                            <div class="contact-content">
                                <h4 class="mb-4">Email us</h4>
                                <p>support&#64;jklibrary.com</p>
                                <p>contact&#64;jklibrary.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="contact-card d-flex gap-4 mb-3">
                            <div class="contact-icon">
                                <span>
                                    <i class="fa-solid fa-location-dot"></i>
                                </span>
                            </div>
                            <div class="contact-content">
                                <h4 class="mb-4">Visit us</h4>
                                <p>34 Madison Street,</p>
                                <p>NY, USA 10005</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form rounded">
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label for="" class="d-block w-100 mb-1">First & Last Name</label>
                                <input type="text" class="form-control common-input" name="" id="" placeholder="i.e. John Doe">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label for="" class="d-block w-100 mb-1">Email</label>
                                <input type="text" class="form-control common-input" name="" id="" placeholder="i.e. John Doe">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label for="" class="d-block w-100 mb-1">Phone Number</label>
                                <input type="text" class="form-control common-input" name="" id="" placeholder="i.e. +1-234-567-7890">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label for="" class="d-block w-100 mb-1">Subject</label>
                                <input type="text" class="form-control common-input" name="" id="" placeholder="i.e. I need a help">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group">
                                <label for="" class="d-block w-100 mb-1">Message</label>
                                <input type="text" class="form-control common-input" name="" id="" placeholder="Type you message">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-end">
                                <button class="theme-btn px-4">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
   
</main>
