<div class="main-wrapper">
    <div class="login-wrapper p-2 d-flex gap-2">
        <div class="left-side w-50 h-100">
            <figure class="h-100">
                <img src="assets/img/left-banner.png" alt="" class="img-fluid h-100 rounded-5 w-100">
            </figure>
        </div>
        <div class="right-side h-100 w-50 pt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">JK Library</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-box m-auto mt-48 d-flex flex-column justify-content-center">
                            <h1>Welcome Back</h1>
                            <p>Enter detail to sign into your account.</p>
                            <form action="" class="mt-48">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="d-block w-100 mb-1" for="">Email</label>
                                            <input type="text" class="form-control common-input" placeholder="Enter your Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label class="d-block w-100 mb-1" for="">Password</label>
                                            <input type="text" class="form-control common-input" placeholder="Enter your Password">
                                            <div class="d-flex w-100 justify-content-between px-2">
                                                <span>
                                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                                    <label for="vehicle1">&nbsp; Remember me</label>
                                                </span>
                                                <span>
                                                    <a href="">Forgot Password</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <button class="theme-btn w-100">Sign Up</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                        <p class="text-center mt-48">Already have an account? <a href="">Sign In</a></p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
