<footer class="common-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-9 col-md-12">
        <h1 class="text-uppercase">
          <span>
            sUBSCRIBE TO OUR nEWSLETTER<br>
          </span>
          <span class="text-white"> fOR greatest books of all<br></span>
          <span class="text-white">time <span class="highlight">authors</span></span>
        </h1>
      </div>
      <div class="col-xl-3 xol-md-12">
        <div class="new-letter-email">
          <span class="shape-left-side">
            <figure>
              <img src="assets/img/before-img.png" alt="">
            </figure>
          </span>
          <div class="form-div">
            <div class="input-group">
              <input type="text" class="form-control common-input" placeholder="Your Email">
            </div>
            <button class="theme-btn w-100">Subscribe</button>
          </div>
          <span class="shape-right-side">
            <figure>
              <img src="assets/img/before-img.png" alt="">
            </figure>
          </span>
        </div>
      </div>
      <div class="col-md-12">
        <h2 class="text-white mb-5">JK Library<span class="highlight">.</span></h2>
      </div>
      <div class="col-xl-4 col-md-12">
        <span class="text-white">
          5775 Sleman Sembada, amikom 999<br>
          Madboutdat, CO 89999<br>
          (404) 289-8899
        </span>
      </div>
      <div class="col-xl-8 col-md-12">
        <ul class="d-flex align-items-center gap-4 justify-content-center text-white list-unstyled flex-wrap">
          <li>
            <span>
              <a href="">Latest news</a>
            </span>
          </li>
          <li>
            <span>
              <a href="">featured books</a>
            </span>
          </li>
          <li>
            <span>
              <a href="">interview links</a>
            </span>
          </li>
          <li>
            <span>
              <a href="">blog</a>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="copy-right d-flex justify-content-between my-3 flex-wrap gap-4">
          <p class="text-white opacity-75">All rights reserved. Copyrights © 2024 Ltd.</p>
          <p class="d-flex gap-3 text-white">
            <span>
              <a href="" class="text-white opacity-75">Privacy Policy</a>
            </span>
            <span>
              <a href="" class="text-white opacity-75">Terms & Conditions</a>
            </span>
          </p>
          <ul class="d-flex align-items-center gap-3 list-unstyled social-media-list">
            <li>
              <span>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
              </span>
            </li>
            <li>
              <span>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </span>
            </li>
            <li>
              <span>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
