<div class="main-wrapper min-vh-100">
    <div class="login-wrapper p-2  d-flex gap-2 ">
        <div class="left-side">
            <figure class="h-100 m-0">
                <img src="assets/img/left-banner.png" alt="" class="img-fluid h-100 rounded-5  object-fit-cover">
            </figure>
        </div>
        <div class="h-100 d-flex flex-grow-1 right-side">
            <div class="container-fluid py-3">
                <div class="flex-column h-100 row">
                    <div class="col-12">
                        <h3 class="text-center mb-2">JK Library</h3>
                    </div>
                    <div class="col-12 flex-grow-1">
                      <div class="d-flex flex-column form-box h-100 justify-content-center mx-auto p-2">
                        <h1>Welcome Back</h1>
              <p>Enter MFA code to complete Sign in</p>
              <div class="mt-48" *ngIf="success">
                <ngb-alert type="success" class="text-primary" [dismissible]="false">
                  <span> Reset password email sent successfully. Please check your email and follow the instructions.</span> <br /><br /> <span> If you can't find it in your inbox, please also check your spam folder. </span>
                </ngb-alert>

              </div>
              <form *ngIf="!success" class="needs-validation  mt-48" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="mb-3">
                  <label class="d-block w-100 mb-1" for="">Email</label>

                  <input type="email" formControlName="email" class="form-control common-input"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <button class="theme-btn w-100 ">Send Email</button>
                  </div>
                </div>
              </form>
                       
                      </div>
                    </div>
                  
                    <div class="col-12">
                      <p class="text-center small mb-0">Remember it? <a href="/login">Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


