.custom-quill {
  .ql-editor {
    direction: ltr;
    text-align: left;

    &::before {
      direction: ltr;
      text-align: left;
    }
  }

  &.rtl-editor {
    .ql-editor {
      direction: rtl;
      text-align: right;

      &::before {
        direction: rtl !important;
        text-align: right !important;
        font-family: 'Noto Nastaliq Urdu', serif;
      }
    }
  }
}
