<app-topbar></app-topbar>
<main>
    <section class="dashboard common-section pb-0">
        <div class="container-fluid" style="margin-top: 70px;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-center section-main-heading position-relative mb-4">
                        <span class="position-relative z-1">Dashboard</span>
                    </h3>
                </div>
            </div>
            <div class="dashboard-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <div class="dashboard-sidebar p-3 h-100">
                                <ul class="nav nav-pills mb-3 flex-column" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true">My Profile</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="pills-post-tab" data-bs-toggle="pill" data-bs-target="#pills-post" type="button" role="tab" aria-controls="pills-post" aria-selected="false">Publish New Post</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="pills-draft-tab" data-bs-toggle="pill" data-bs-target="#pills-draft" type="button" role="tab" aria-controls="pills-draft" aria-selected="false">View Drafts</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-publish-post-tab" data-bs-toggle="pill" data-bs-target="#pills-publish-post" type="button" role="tab" aria-controls="pills-publish-post" aria-selected="false">Manage Published Posts</button>
                                      </li>
                                  </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="dashbaord-content">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <fieldset>
                                            <div class="personal-info">
                                                <h4 class="mb-2">Personal Information</h4>
                                                <p>Fill all information below.</p>
                                                <div class="field-content">
                                                  <div class="upload-profile d-flex gap-4 align-items-end pb-5 border-bottom flex-wrap">
                                                    <figure *ngIf="image == null ||  image == ''">
                                                      <img src="assets/img/profile-avatar.png" alt="">
                                                    </figure>
                                                    <figure *ngIf="image != null &&  image != ''">
                                                      <img [src]="image" alt="">
                                                    </figure>
                                                    <div>
                                                      <div class="btn-group gap-3 mb-3">
                                                        <span class="uploaded-action position-relative">
                                                          <div class="upload-btn">
                                                            <input type="file" class="h-100 w-100" #file id="profile-upload" hidden accept="image/*" (change)="onfileUpload($event)">
                                                            <button (click)="file.click()" for="profile-upload" class="theme-btn px-4 py-2">Update</button>
                                                          </div>
                                                        </span>
                                                        <span>
                                                          <button class="theme-stroked-btn px-4 py-2"><i class="fa-regular fa-trash-can"></i> Remove</button>
                                                        </span>
                                                      </div>
                                                      <p>Allowed JPG, JPEG, or PNG. Max size of 800kb</p>
                                                    </div>
                                                  </div>
                                                  <form [formGroup]="personalInfoForm" (ngSubmit)="onPrsonalInfoSubmit()">

                                                    <div class="form-div border-bottom">
                                                      <div class="form">
                                                        <div class="container-fluid">
                                                          <div class="row">
                                                            <div class="col-md-6">
                                                              <div class="input-group">
                                                                <label for="" class="d-block mb-1 w-100">First Name<span class="text-danger">*</span></label>
                                                                <input type="text"
                                                                       class="form-control common-input"
                                                                       id="account-firstName"
                                                                       formControlName="firstName"
                                                                       [ngClass]="{ 'is-invalid': personalInfoSubmitted && personalInfo.firstName.errors }"
                                                                       name="firstName"
                                                                       placeholder="First Name" />
                                                                <div *ngIf="personalInfoSubmitted && personalInfo.firstName.errors" class="form-text text-danger">
                                                                  <small *ngIf="personalInfo.firstName.errors.required">First name is required. </small>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                              <div class="input-group">
                                                                <label for="" class="d-block mb-1 w-100">Last Name<span class="text-danger">*</span></label>
                                                                <input type="text"
                                                                       class="form-control  common-input"
                                                                       id="account-lastName"
                                                                       formControlName="lastName"
                                                                       [ngClass]="{ 'is-invalid': personalInfoSubmitted && personalInfo.lastName.errors }"
                                                                       name="lastName"
                                                                       placeholder="Last Name" />
                                                                <div *ngIf="personalInfoSubmitted && personalInfo.lastName.errors" class="form-text text-danger">
                                                                  <small *ngIf="personalInfo.lastName.errors.required">Last name is required. </small>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                              <div class="input-group">
                                                                <label for="" class="d-block mb-1 w-100">Gender<span class="text-danger">*</span></label>
                                                                <select class="form-control common-input "
                                                                        id="accountGender"
                                                                        formControlName="gender"
                                                                        [ngClass]="{ 'is-invalid': personalInfoSubmitted && personalInfo.gender.errors }"
                                                                        placeholder="Gender"
                                                                        name="accountGender">
                                                                  <option value="">-- select --</option>
                                                                  <option value="male">Male</option>
                                                                  <option value="female">Female</option>
                                                                </select>
                                                                <div *ngIf="personalInfoSubmitted && personalInfo.gender.errors" class="form-text text-danger">
                                                                  <small *ngIf="personalInfo.gender.errors.required">Gender is required. </small>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                              <div class="input-group">
                                                                <label for="" class="d-block mb-1 w-100">Phone Number<span class="text-danger">*</span></label>
                                                                <input type="text"
                                                                       formControlName="phoneNumber"
                                                                       class="form-control  common-input "
                                                                       [ngClass]="{ 'is-invalid': personalInfoSubmitted && personalInfo.phoneNumber.errors }"
                                                                       id="account-phone"
                                                                       placeholder="Phone Number"
                                                                       name="phone" />
                                                                <div *ngIf="personalInfoSubmitted && personalInfo.phoneNumber.errors" class="form-text text-danger">
                                                                  <small *ngIf="personalInfo.phoneNumber.errors.required">Phone number is required. </small>
                                                                  <small *ngIf="personalInfo.phoneNumber.errors.pattern">Invalid phone number. </small>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                              <div class="input-group">
                                                                <label for="" class="d-block mb-1 w-100">Email<span class="text-danger">*</span></label>
                                                                <input type="email"
                                                                       [(ngModel)]="email"
                                                                       [ngModelOptions]="{standalone: true}"
                                                                       disabled="disabled"
                                                                       class="form-control common-input"
                                                                       id="account-e-mail"
                                                                       name="email"
                                                                       placeholder="Email" />
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>

                                                      <div class="d-flex flex-wrap gap-2 mt-2">
                                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                                      </div>
                                                    </div>
                                                  </form>
                                                  <!--/ form -->
                                                </div>
                                                
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="personal-info">
                                                <h4 class="mb-2">Security Information</h4>
                                                <p>Below is your password details</p>
                                                <div class="field-content">
                                                    <div class="form-div border-bottom">
                                                        <div class="form">
                                                            <form  class="validate-form"  [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
                                                              <div class="container-fluid">
                                                                <div class="row">
                                                                  <div class="col-md-6">
                                                                    <div class="input-group">
                                                                      <label for="" class="d-block mb-1 w-100">Old Password<span class="text-danger">*</span></label>
                                                                      <div class="input-with-icon">
                                                                        <input [type]="passwordTextTypeOld ? 'text' : 'password'" class="form-control common-input" formControlName="oldPassword"
                                                                               [ngClass]="{ 'is-invalid': changePasswordSubmitted && changePassword.oldPassword.errors }"
                                                                               placeholder="Enter Old Password" aria-label="oldPassword"
                                                                               aria-describedby="password-addon">
                                                                        <button class="btn btn-light " (click)="togglePasswordTextTypeOld()" type="button" id="password-addon">
                                                                          <i class="fa-regular" [ngClass]="{ 'fa-eye-off': passwordTextTypeOld,'fa-eye': !passwordTextTypeOld}"></i>
                                                                        </button>

                                                                      </div>
                                                                      <div *ngIf="changePasswordSubmitted && changePassword.oldPassword.errors" class="invalid-feedback">
                                                                        <span *ngIf="changePassword.oldPassword.errors.required">Old password is required</span>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                 
                                                                </div>
                                                                <div class="row">
                                                                  <div class="col-md-6">
                                                                    <div class="input-group">
                                                                      <label for="" class="d-block mb-1 w-100">New Password<span class="text-danger">*</span></label>
                                                                      <div class="input-with-icon">
                                                                        <input [type]="passwordTextTypeNew ? 'text' : 'password'"
                                                                               id="account-new-password"
                                                                               name="new-password"
                                                                               class="form-control common-input"
                                                                               [ngClass]="{ 'is-invalid': changePasswordSubmitted && changePassword.newPassword.errors }"
                                                                               formControlName="newPassword"
                                                                               placeholder="New Password" />
                                                                        <button class="btn btn-light " (click)="togglePasswordTextTypeNew()" type="button" id="password-addon">
                                                                          <i class="fa-regular" [ngClass]="{ 'fa-eye-off': passwordTextTypeNew,'fa-eye': !passwordTextTypeNew}"></i>
                                                                        </button>

                                                                      </div>
                                                                      <div *ngIf="changePasswordSubmitted && changePassword.newPassword.errors" class="form-text text-danger">
                                                                        <small *ngIf="changePassword.newPassword.errors.required">New password is required. </small>
                                                                      </div>
                                                                    </div>
                                                                    <div class="text-danger text-sm" *ngIf="!isPasswordStrong() && passwordFormField?.dirty">
                                                                      <span class="block" [ngClass]="{'text-success': passwordFormField?.value?.match('^(?=.*[A-Z])')}">
                                                                        At least one uppercase letter. <br />
                                                                      </span>
                                                                      <span class="block" [ngClass]="{'text-success': passwordFormField?.value?.match('(?=.*[a-z])')}">
                                                                        At least one lowercase letter.<br />
                                                                      </span>
                                                                      <span class="block" [ngClass]="{'text-success': passwordFormField?.value?.match('(.*[0-9].*)')}">
                                                                        At least one digit.<br />
                                                                      </span>
                                                                      <span class="block" [ngClass]="{'text-success': passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">
                                                                        At least one special character.<br />
                                                                      </span>
                                                                      <span class="block" [ngClass]="{'text-success': passwordFormField?.value?.match('.{8,}')}">
                                                                        At least 8 characters long.
                                                                      </span>
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                    <div class="input-group">
                                                                      <label for="" class="d-block mb-1 w-100">Confirm Password<span class="text-danger">*</span></label>
                                                                      <div class="input-with-icon">
                                                                        <input type="password" class="common-input form-control" placeholder="Confirm Password">
                                                                        <input [type]="passwordTextTypeRetype ? 'text' : 'password'"
                                                                               class="form-control common-input"
                                                                               id="account-retype-new-password"
                                                                               name="confirm-new-password"
                                                                               [ngClass]="{ 'is-invalid': changePasswordSubmitted && changePassword.confirmPassword.errors }"
                                                                               formControlName="confirmPassword"
                                                                               placeholder="Confirm New Password" />
                                                                        <button class="btn btn-light " (click)="togglePasswordTextTypeRetype()" type="button" id="password-addon">
                                                                          <i class="fa-regular" [ngClass]="{ 'fa-eye-off': passwordTextTypeRetype,'fa-eye': !passwordTextTypeRetype}"></i>
                                                                        </button>
                                                                      </div>
                                                                      <div *ngIf="changePasswordSubmitted && changePassword.confirmPassword.errors" class="form-text text-danger">
                                                                        <small *ngIf="changePassword.confirmPassword.errors.required">Please confirm your new password. </small>
                                                                        <small *ngIf="changePassword.confirmPassword.errors.mustMatch">New and confirm password not match. </small>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div class="col">
                                                                    <div class="text-end">
                                                                      <button class="theme-btn px-4">Save Changes</button>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="tab-pane fade" id="pills-post" role="tabpanel" aria-labelledby="pills-post-tab">
                                        <fieldset>
                                            <div class="publish-post">
                                                <h4 class="mb-2">Publish New Post</h4>
                                                <p>Fill all information below.</p>
                                                <div class="field-content">
                                                    <div class="form-div">
                                                        <form action="">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="input-group">
                                                                            <label for="" class="d-block w-100 mb-1">Post Name <span class="text-danger">*</span></label>
                                                                            <input type="text" class="common-input form-control" placeholder="Enter Name">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-12">
                                                                        <div class="input-group">
                                                                            <label for="post_description" class="w-100 d-block mb-1">
                                                                                Post Description <span class="text-danger">*</span>
                                                                            </label>
                                                                            <textarea id="editor" name="post_description" class="form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <script>
                                                                        ClassicEditor
                                                                            .create(document.querySelector('#editor'), {
                                                                                toolbar: {
                                                                                    items: [
                                                                                        'heading', '|',
                                                                                        'bold', 'italic', 'underline', 'strikethrough', '|',
                                                                                        'bulletedList', 'numberedList', '|',
                                                                                        'link', 'blockQuote', 'insertTable', 'undo', 'redo'
                                                                                    ]
                                                                                },
                                                                                language: 'en',
                                                                                table: {
                                                                                    contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells']
                                                                                }
                                                                            })
                                                                            .catch(error => {
                                                                                console.error(error);
                                                                            });
                                                                    </script>
                                                                                                                                        
                                                                    <div class="col-md-12">
                                                                        <div class="input-group attachment-input">
                                                                            <label class="d-block w-100 mb-1" for="">Post Cover Image</label>
                                                                            <input type="file" class="form-control common-input">
                                                                            <span class="attachment-lable"><i class="fa-solid fa-arrow-up-from-bracket"></i> Upload Cover Page</span>
                                                                            <span class="d-block w-100">
                                                                              <small class="float-end">Max size: 800 kb</small>
                                                                            </span>
                                                                          </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="input-group">
                                                                            <label class="d-block w-100 mb-1" for="">Publication Date</label>
                                                                            <select name="" id="" class="form-control common-input">
                                                                                <option value="Now, Today">Now, Today</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="input-group">
                                                                            <label class="d-block w-100 mb-1" for="">Categories</label>
                                                                            <select name="" id="" class="form-control common-input">
                                                                                <option value="Now, Today">Select</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="btn-group gap-3 justify-content-end text-end w-100 flex-wrap">
                                                                            <button class="theme-stroked-btn text-danger border-danger">Cancel</button>
                                                                            <button class="theme-stroked-btn">Save as Draft</button>
                                                                            <button class="theme-btn">Publish Post</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="tab-pane fade" id="pills-draft" role="tabpanel" aria-labelledby="pills-draft-tab">
                                        <fieldset>
                                            <div class="draft-content">
                                                <h4 class="mb-2">Drafts</h4>
                                                <p>Below are your drafts which you saved.</p>
                                                <div class="field-content leatest-blog">
                                                    <div class="container-fluid">
                                                      <div class="multiple-blog">
                                                        <div class="row">
                                                          <div class="col-xl-4 col-md-6">
                                                            <div class="card-blog">
                                                              <div class="card-img position-relative">
                                                                  <figure>
                                                                      <img src="assets/img/news-1.png" alt="" class="w-100">
                                                                  </figure>
                                                              </div>
                                                              <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                                <div>
                                                                  <h4>Great Books</h4>
                                                                  <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                                </div>
                                                              </div>
                                                              <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                          </div>
                                                          <div class="col-xl-4 col-md-6">
                                                            <div class="card-blog">
                                                              <div class="card-img position-relative">
                                                                  <figure>
                                                                      <img src="assets/img/news-2.png" alt="" class="w-100">
                                                                  </figure>
                                                              </div>
                                                              <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                                <div>
                                                                  <h4>Awesome Words</h4>
                                                                  <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                                </div>
                                                              </div>
                                                              <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                          </div>
                                                          <div class="col-xl-4 col-md-6">
                                                            <div class="card-blog">
                                                              <div class="card-img position-relative">
                                                                  <figure>
                                                                      <img src="assets/img/news-3.png" alt="" class="w-100">
                                                                  </figure>
                                                              </div>
                                                              <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                                <div>
                                                                  <h4>Best Authors</h4>
                                                                  <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                                </div>
                                                              </div>
                                                              <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                          </div>
                                                          <div class="col-xl-4 col-md-6">
                                                            <div class="card-blog">
                                                              <div class="card-img position-relative">
                                                                  <figure>
                                                                      <img src="assets/img/news-1.png" alt="" class="w-100">
                                                                  </figure>
                                                              </div>
                                                              <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                                <div>
                                                                  <h4>Great Books</h4>
                                                                  <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                                </div>
                                                              </div>
                                                              <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                          </div>
                                                          <div class="col-xl-4 col-md-6">
                                                            <div class="card-blog">
                                                              <div class="card-img position-relative">
                                                                  <figure>
                                                                      <img src="assets/img/news-2.png" alt="" class="w-100">
                                                                  </figure>
                                                              </div>
                                                              <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                                <div>
                                                                  <h4>Awesome Words</h4>
                                                                  <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                                </div>
                                                              </div>
                                                              <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                          </div>
                                                          <div class="col-xl-4 col-md-6">
                                                            <div class="card-blog">
                                                              <div class="card-img position-relative">
                                                                  <figure>
                                                                      <img src="assets/img/news-3.png" alt="" class="w-100">
                                                                  </figure>
                                                              </div>
                                                              <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                                <div>
                                                                  <h4>Best Authors</h4>
                                                                  <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                                </div>
                                                              </div>
                                                              <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="tab-pane fade" id="pills-publish-post" role="tabpanel" aria-labelledby="pills-publish-post-tab">
                                      <fieldset>
                                        <div class="draft-content">
                                            <h4 class="mb-2">Manage Published Posts</h4>
                                            <p>Below are your published posts.</p>
                                            <div class="field-content leatest-blog">
                                                <div class="container-fluid">
                                                  <div class="multiple-blog">
                                                    <div class="row">
                                                      <div class="col-xl-4 col-md-6">
                                                        <div class="card-blog">
                                                          <div class="card-img position-relative">
                                                              <figure>
                                                                  <img src="assets/img/news-1.png" alt="" class="w-100">
                                                              </figure>
                                                          </div>
                                                          <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                            <div>
                                                              <h4>Great Books</h4>
                                                              <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                            </div>
                                                          </div>
                                                          <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                                                            <span class="date">Published date: 24 Jul, 2024</span>
                                                            <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                          
                                                      </div>
                                                      </div>
                                                      <div class="col-xl-4 col-md-6">
                                                        <div class="card-blog">
                                                          <div class="card-img position-relative">
                                                              <figure>
                                                                  <img src="assets/img/news-2.png" alt="" class="w-100">
                                                              </figure>
                                                          </div>
                                                          <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                            <div>
                                                              <h4>Awesome Words</h4>
                                                              <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                            </div>
                                                          </div>
                                                          <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                                                            <span class="date">Published date: 24 Jul, 2024</span>
                                                            <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                      </div>
                                                      </div>
                                                      <div class="col-xl-4 col-md-6">
                                                        <div class="card-blog">
                                                          <div class="card-img position-relative">
                                                              <figure>
                                                                  <img src="assets/img/news-3.png" alt="" class="w-100">
                                                              </figure>
                                                          </div>
                                                          <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                            <div>
                                                              <h4>Best Authors</h4>
                                                              <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                            </div>
                                                          </div>
                                                          <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                                                            <span class="date">Published date: 24 Jul, 2024</span>
                                                            <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                      </div>
                                                      </div>
                                                      <div class="col-xl-4 col-md-6">
                                                        <div class="card-blog">
                                                          <div class="card-img position-relative">
                                                              <figure>
                                                                  <img src="assets/img/news-1.png" alt="" class="w-100">
                                                              </figure>
                                                          </div>
                                                          <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                            <div>
                                                              <h4>Great Books</h4>
                                                              <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                            </div>
                                                          </div>
                                                          <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                                                            <span class="date">Published date: 24 Jul, 2024</span>
                                                            <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                      </div>
                                                      </div>
                                                      <div class="col-xl-4 col-md-6">
                                                        <div class="card-blog">
                                                          <div class="card-img position-relative">
                                                              <figure>
                                                                  <img src="assets/img/news-2.png" alt="" class="w-100">
                                                              </figure>
                                                          </div>
                                                          <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                            <div>
                                                              <h4>Awesome Words</h4>
                                                              <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                            </div>
                                                          </div>
                                                          <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                                                            <span class="date">Published date: 24 Jul, 2024</span>
                                                            <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                      </div>
                                                      </div>
                                                      <div class="col-xl-4 col-md-6">
                                                        <div class="card-blog">
                                                          <div class="card-img position-relative">
                                                              <figure>
                                                                  <img src="assets/img/news-3.png" alt="" class="w-100">
                                                              </figure>
                                                          </div>
                                                          <div class="book-info d-flex align-items-center justify-content-between my-3">
                                                            <div>
                                                              <h4>Best Authors</h4>
                                                              <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                                                            </div>
                                                          </div>
                                                          <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                                                            <span class="date">Published date: 24 Jul, 2024</span>
                                                            <button class="theme-btn py-2 px-4">Edit</button>
                                                          </div>
                                                      </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</main>
<app-footer></app-footer>
